@{
    ViewData["Title"] = "Localidades";
}


<div class="text-center">
    <h1 class="display-4">Lista de Localidades</h1>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#localidadModal" onclick="NuevaLocalidad()">
    Nueva Localidad
</button>
<!-- Modal -->
<div class="modal fade" id="localidadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Nueva Localidad</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="LocalidadID" value="0">

                    <label for="NombreLocalidad" class="form-label">Localidad</label>
                    <input type="text" id="NombreLocalidad" class="form-control">

                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="LimpiarModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarLocalidad()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<table class="table table-light table-hover">
        <thead>
          <tr>
            <th>Localidad</th>
            <th style="width: 70px">Editar</th>
            <th style="width: 70px">Eliminar</th>
          </tr>
        </thead>
        <tbody id="tbody-localidades">
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>


@section Scripts{
<script src="~/js/localidades.js"></script>
}